/* Desktop (large) */
@media (min-width: 1280px) {
  .container {
    max-width: 1140px;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Laptop */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product-card {
    width: calc(30.33% - 20px);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product-card {
    width: calc(47% - 20px);
  }
}

/* Mobile */

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .col-3,
  .col-4,
  .col-6,
  .col-8,
  .col-9,
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product-card {
    width: calc(100% - 20px);
  }
  .banner-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .banner-text {
    padding: 20px 0;
    width: 90%;
    margin: -20px auto;
  }
  .page-subheading {
    border-bottom: 4px solid var(--color-primary);
  }
  .breadcrumb {
    margin-top: 30px;
  }

  .logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .navbar li {
    display: none;
  }

  .icon {
    float: left;
    display: block;
  }
  .icon a {
    color: var(--color-white);
  }
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .navbar.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .bottom-footer {
    text-align: center;
    display: flex;
    padding: 5px 0;
    flex-direction: column-reverse;
  }

  .footer-logo {
    padding: 5px 0;
    justify-content: flex-start;
  }

  .footer-copyright {
    padding: 5px 0;
    justify-content: center;
  }

  .footer-link {
    padding: 5px 0;
    display: flow;
    text-align: center;
    float: none;
  }
}
